@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&family=Vazirmatn:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.gradient-bg {
  background: hsla(0, 0%, 19%, 1);
  background: radial-gradient(circle, hsla(0, 0%, 19%, 1) 30%, hsla(0, 0%, 4%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(0, 0%, 19%, 1) 30%, hsla(0, 0%, 4%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(0, 0%, 19%, 1) 30%, hsla(0, 0%, 4%, 1) 100%);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
